.blueRoherfel{
    color: #081839;
}

.blueRoherfel2{
    color: #1bbde4;
}

.backgroundRoherfel{
    background-color: #081839;
    color: #FFF;
}

.backgroundRoherfel2{
    background-color: #1bbde4;
    color: #FFF;

}

.w100 {
 font-weight: 100;
}

body, html{
    font-family: 'Montserrat' !important;
}

.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:85px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}
